@import "tailwindcss";
@plugin "daisyui";
@tailwind utilities;

@layer base {
    html {
        @apply transition-colors duration-100 ease-in-out;
    }
    .text-shadow-dark {
        text-shadow: 2px 2px 4px #000000;
    }
    .text-shadow-glow {
        text-shadow: 0 0 10px #7050d4, 0 0 15px #8b60f2;
    }
}